backend/orchestration/adforge_pipeline.template.asl.json
{
    "Comment": "AdForge AI ad-generation pipeline",
    "StartAt": "Vision",
    "States": {
        "Vision": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:adforge-vision",
            "Next": "Reasoning"
        },
        "Reasoning": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:adforge-reasoning",
            "Next": "ParallelGen"
        },
        "ParallelGen": {
            "Type": "Parallel",
            "Branches": [
                {
                    "StartAt": "Audio",
                    "States": {
                        "Audio": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:adforge-audio",
                            "End": true
                        }
                    }
                },
                {
                    "StartAt": "Image",
                    "States": {
                        "Image": {
                            "Type": "Task",
                            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:adforge-image",
                            "End": true
                        }
                    }
                }
            ],
            "ResultSelector": {
                "jobId.$": "$[0].jobId",
                "script.$": "$[0].script",
                "scene.$": "$[0].scene",
                "labels.$": "$[0].labels",
                "bucket.$": "$[0].bucket",
                "key.$": "$[0].key",
                "audio.$": "$[0].audio",
                "image.$": "$[1].image"
            },
            "Next": "Assemble"
        },
        "Assemble": {
            "Type": "Task",
            "Resource": "arn:aws:lambda:${AWS_REGION}:${AWS_ACCOUNT_ID}:function:adforge-assemble",
            "End": true
        }
    }
}
